html,
body {
    font-family: -apple-system, 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Noto Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Noto Sans CJK SC', 'Noto Sans CJK TC';
    padding: 0;
    margin: 0;
}

#grand-container {
    max-width: 1100px;
    padding: 30px;
    margin: 0 auto;
}
#grand-container>*{
    margin-bottom: 25px;
}

section>* {
    margin-bottom: 15px;
}

#topcontrols {
    padding: 0 0 20px;
}

#table {
    max-height: 55vh;
    overflow: scroll;
}
#table[data-toggle-state="shown"] {
    display: block;
}
#table[data-toggle-state="hidden"] {
    display: none;
}

select#playlist {
    max-height: 33vh;
}

button {
    padding: 5px 12px;
    min-width: 110px;
}
